<section>
  <div class="landing-page">

    <nav>
      <div class="logo">
        <img src="../../assets/images/Netflix_logo.png" alt="Netflix Logo">
      </div>

      <div class="nav-links">
        <button class="sign-in-btn">
          Sign In
        </button>
      </div>
    </nav>

    <div class="main-content">
      <div class="content">

        <h2>
          Unlimited movies, TV <br>
          shows, and more.
        </h2>

        <h3>Watch anywhere. Cancel anytime.</h3>

        <p>Ready to watch? Enter your email to create or restart your membership.</p>

        <form action="">
          <input type="email" name="email" id="" placeholder="Email Address">
          <button type="submit">
            Get Started
            <mat-icon aria-hidden="false" aria-label="Example home icon">chevron_right</mat-icon>
            </button>
        </form>

      </div>

    </div>

    <footer>
      <a href="https://luckytemitope.com">
        Lucky Osunbiyi &copy; {{ year.getFullYear() }}
      </a>
    </footer>

  </div>
</section>
